@charset "UTF-8";
		* {
            box-sizing: border-box;
        }

        body {
            margin: 0;
        }

        img {
            max-width: 100%;
        }

        html {
            --header-height: 60px;
            --aside-width: 240px;
            /* font-size: 62.5%; */
            /*10px*/
        }

        /* header.header {
            font-size: 1rem;
        } */

        /* ====================== header 區域 ============================== */
        header.header {
            border: 1px solid black;
            background-color: lightgray;
            height: var(--header-height);
            position: sticky;
            top: 0;
            height: var(--header-height);
            background-color: lightgray;
        }

        header.header button.btn_hamburger {
            display: none;
        }

        /* ====================== aside 區域 ============================== */
        aside.aside {
            border: 1px solid blue;
            background-color: gray;
            width: var(--aside-width);
            position: fixed;
            top: var(--header-height);
            left: 0;
            height: calc(100% - var(--header-height));
            /*不讓aside下端超出60px螢幕*/

            overflow-y: auto;
            padding: 20px 0;
            transition: all 1s;
        }

        aside.aside button.btn_hamburger {
            display: none;
        }

        @media screen and (max-width: 767px) {
            aside.aside {
                top: 0;
                height: 100%;
                transform: translateX(-100%);
            }

            aside.aside.-on {
                transform: translateX(0%);
            }

            header.header button.btn_hamburger,
            aside.aside button.btn_hamburger {
                display: inline-block;
            }
        }



        aside.aside nav.nav ul.nav_list {
            /* border: 1px solid red; */
            list-style: none;
            padding: 0;
            margin: 0;
        }



        aside.aside nav.nav ul.nav_list>li a {
            border: 1px solid blue;
            display: block;
            text-decoration: none;
            text-align: center;
            padding: 10px 0;
            width: 100%;
        }

        /* ====================== main 區域 ============================== */
        main.main {
            border: 1px solid red;
            /* height: 1000px; */
            background-color: orange;
            width: calc(100% - var(--aside-width));
            margin-left: var(--aside-width);
            min-height: calc(100vh - var(--header-height));
            /*vh:螢幕高度*/
            padding: 20px;
            transition: all 1s;
        }

        @media screen and (max-width: 767px) {
            main.main {
                width: 100%;
                margin-left: 0;
            }
        }


        main.main ul.item_list {
            list-style: none;
            padding: 0;
            margin: 0;

            display: flex;
            flex-wrap: wrap;
        }

        main.main ul.item_list>li {
            /* border: 1px solid black; */
            width: calc((100% - 60px) / 4);
            margin-right: 20px;
            margin-bottom: 20px;
        }

        @media screen and (max-width: 767px) {
            main.main ul.item_list>li {
                width: calc((100% - 20px) / 2);
            }
        }

        main.main ul.item_list>li:nth-child(4n) {
            margin-right: 0;
        }

        @media (max-width: 767px) {
            main.main ul.item_list>li:nth-child(2n) {
                margin-right: 0;
            }
        }

        /*為了不讓第四個li音控間不足掉下去*/

        main.main ul.item_list>li a {
            display: block;
            border: 1px solid white;
            text-decoration: none;
        }


        main.main ul.item_list>li a div.img_block {
            border: 1px solid blue;
            font-size: 0;
        }

        main.main ul.item_list>li a span.item_text {
            display: block;
            border: 1px solid blue;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }